version: '3'
services:
  proxy:
    image: jwilder/nginx-proxy:alpine-0.7.0
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
    networks:
      - proxy
  phabricator:
    build: ./
    image: blindsteal/phabricator
    env_file:
      - docker/env/phabricator.env
      - docker/env/db.env
    volumes:
       - repos:/var/repo
    links:
      - db
    networks:
      - proxy
      - backend
  db:
    image: mysql:5.7.23
    env_file:
      - docker/env/db.env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend
networks:
  backend:
  proxy:
volumes:
  repos:
  db_data:
